/*Carpage*/
.carImageSN {
    height: 50vh;
    width: 100vw;
}

.statsSN {
    margin-top: 2%;
    color: #6F61C0;
}

.carInfoSN {
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
}

.rightStatsSN {
    padding-right: 70%;
}

.carPriceSN {
    padding-left: 40%;
}

.carPriceValueSN {
    color: rgb(46, 204, 113);
    ;
}

.allDetailsSN {
    padding: auto;
}

.buyBtnSN {
    font-size: 2rem;
    background-color: #5DADE2;
    color: yellow;
    margin-top: 1.2%;
    margin-bottom: 1.7%;
}

/*End of Carpage*/

/* About page starts from here */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;

    color-scheme: light dark;
    color: WHITE;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.about-us-containerIM {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px
}

.car-image-containerIM {
    flex: 0.5;
}

.car-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 2rem;
}

.about-us-contentIM {
    flex: 1;
    padding: 20px;
}

.btnm {
    border-radius: 3rem;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: bold;
    background-color: aliceblue;
}

/* About ends here */



/*NavBar Css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 30, 37);
    padding: 10px 50px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo i {
    color: #ffffff96;
    font-size: 28px;
    margin-bottom: 5px;
}

.logo-text {
    color: #F44336;
    font-size: 34px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 70px;
}

nav ul li a {
    color: #ffffffd5;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: orange;
}

/*navbar media queries*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    background-color: rgb(35, 30, 37);
    padding: 10px;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav ul li a {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
    nav {
      padding: 10px 30px;
    }
  
    nav ul li {
      margin-left: 40px;
    }
  
    nav ul li a {
      font-size: 28px;
    }
  }

  







/*End of NavBar Css*/
/*navbar2*/

/*navbar2*/






/*Footer Css*/
#footer {
    background-color: #5DADE2;
    color: white;
    padding: 40px;
    position: relative;
}

#footerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: flex-start;
}

#footerArrow {
    grid-column: 1 / span 2;
}

.scroll-to-top {
    color: #F44336;
    font-size: 190px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#getInTouch {
    grid-column: 1 / -1;
    font-size: 90px;
}

#footerTextGrid {
    display: grid;
    grid-template-columns: 500px 500px 200px;
    gap: 90px;
}

.footerTextItem {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.footerTextTitle {
    margin: 0;
}

.footerSocials li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footerSocials li a {
    color: white;
    text-decoration: none;
    font-size: 45px;
}

.copywrite {
    position: absolute;
    bottom: 10px;
    left: 37px;
    font-size: 20px;
}

/*End of footer Css*/

/*Buy Page Css*/
#carsHolderJk {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.carContainerJk {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #D6EAF8;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.carContainerJk img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    /* Ensure the image maintains its aspect ratio */
    margin: 0;
    padding: 0;
}

.carContainerJk:hover {
    background-color: #5D6D7E;
}

.botCardInternalJk {
    margin-top: 10px;
}

.botCardInternalJk h2,
.botCardInternalJk h3 {
    margin: 0;
}

/*End of Buy Page Css*/

/* SearchBar and priceFilter css */
.search-bar-containerJk {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-barJk {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 900px;
    margin-bottom: 20px;
}

.search-barJk input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 5px;
    color: #000;
}

.search-barJk input::placeholder {
    color: #888;
}

.search-barJk button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    color: #000;
}

.search-barJk button:hover {
    color: #0066cc;
}

.vertical-lineJk {
    width: 1px;
    height: 24px;
    background-color: #000;
    margin: 0 8px;
}

.price-filter-containerJk {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.price-filter-selectJk {
    font-size: 16px;
    padding: 6px 12px;
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.price-filter-buttonJk {
    font-size: 16px;
    padding: 6px 12px;
    background-color: #D6EAF8;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

/* Css for Search Bar Ends  and price filter ends*/

/* Start of sellpage css */
#formDivCY .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#formDivCY h1 {
    text-align: center;
}

#formDivCY form {
    display: flex;
    flex-direction: column;
}

#formDivCY label {
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 20px;
}

#formDivCY input {
    background-color: #f0f0f0;
    width: 80%;
    height: 50px;
    margin-left: 20px;
    color: #000;
}

#formDivCY button {
    margin: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

#formDivCY input [type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formDivCY input [type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formDivCY input [type="submit"]:hover {
    background-color: #0056b3;
}

/* End of sellpage css */