/*Carpage*/
.carImageSN {
    height: 50vh;
    width: 100vw;
}

.statsSN {
    margin-top: 2%;
    color: #6F61C0;
}

.carInfoSN {
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
}

.rightStatsSN {
    padding-right: 70%;
}

.carPriceSN {
    padding-left: 40%;
}

.carPriceValueSN {
    color: rgb(46, 204, 113);
    ;
}

.allDetailsSN {
    padding: auto;
}

.buyBtnSN {
    font-size: 2rem;
    background-color: #5DADE2;
    color: yellow;
    margin-top: 1.2%;
    margin-bottom: 1.7%;
}

/*End of Carpage*/

/* About page starts from here */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;

    color-scheme: light dark;
    color: WHITE;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.about-us-containerIM {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px
}

.car-image-containerIM {
    flex: 0.5;
}

.car-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 2rem;
}

.about-us-contentIM {
    flex: 1;
    padding: 20px;
}

.btnm {
    border-radius: 3rem;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: bold;
    background-color: aliceblue;
}

/* About ends here */